/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Ubuntu', 'Segoe UI', 'Arial', 'Helvetica Neue', sans-serif;
}

footer {
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
